.header-bg{
    height: 576px;
    background-color: #F0FFF0;
}
.navbar-brand img{
    width: 198.07px;
}
.nav-item a{
    font-weight: normal;
    color: black;
    font-size: 16px;
}
.navbar-nav li{
    margin-left: 35px;
}
.sign-in-button{
    text-align: center;
    background-color: #21B573;
    width: 104px;
    left: 1201px;
    top: 25px;
    border-radius: 33px;
    padding: 12px, 28px, 12px, 28px;
}
.sign-in-button span{
    color: #F0FFF0;
}
.slide-orange{
    font-size: 16px;
    color: #FD511A;
}
.slide-heading{
    font-weight: 700;
}
.slide-paragraph{
    color: #6C6B6B;
    font-size: 16px;
}
.get-started-button{
    border: none;
    background-color: #21B573;
    height: 43px;
    width: 153px;
    left: 205px;
    top: 470px;
    border-radius: 33px;
    padding: 12px, 36px, 12px, 36px;
}
.get-started-button span{
    color: #F0FFF0;
}
.slide{
    padding: 70px;
    margin: 0px;
}
.slide p{
    padding-right: 70px;
}
.img-cat{
    width: 68px;
    height: 76px;
    margin: 18px;
}
.cat{
    text-align: center;
}
.cat h3{
    font-size: 24px;
    color: #413960;
    font-weight: 500;
}
.cat-main{
    margin-top: 30px;
}
.cat p{
    color: #585859;
    font-size: 16px;
}
.cat-box{
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cat-box:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transform: translateY(-10px);
}
.cat-main{
    padding:10px 40px 0px 40px;
}